/* Nah bro not commenting css style I will probably delete as a whole */
body{
    background: linear-gradient(purple, blue);
}

.bilaAf{
    color: black;
    background-color: pink;
}

.podtrhnuto{
    text-decoration: underline;
}

.cernaAf{
    color:black;
    background-color: lightblue;
}

.svastika{
    width: 25%;
    padding: 20px;
}

.flexContainer2{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.flexContainerCol{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
}

.flexContainer{
    display: flex;
    gap: 20px;
}

.boardLink{
    margin: 5%;
    color:brown;
    background-color: antiquewhite;
    font-size: larger;
}

.getAll{
    background-color: blueviolet;
}

.msgContainer{
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    word-break: break-word; 
}

.msgPart{
    background-color: transparent;
}

.msgGrid{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 20px;
}